@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Calories";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="userDailyCalories"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/UserDailyCalories.js"></script>