@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Distance";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="userDailyDistance"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/UserDailyDistance.js"></script>