@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Walk Steps";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="userDailyWalkSteps"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/UserDailyWalkSteps.js"></script>