@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Run Steps";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="userDailyRunSteps"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/UserDailyRunSteps.js"></script>