@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Company Distance";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="companyDailyDistance"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/CompanyDailyDistance.js"></script>