@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Company Walk Steps";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="companyDailyWalkSteps"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/CompanyDailyWalkSteps.js"></script>